@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');


$font_title: normal bold 31px/36px 'Ubuntu', sans-serif;
$font_title_mobile: normal bold 20px/23px 'Ubuntu', sans-serif;
$font_text: normal normal 27px/31px 'Ubuntu', sans-serif;
$font_text_mobile: normal normal 16px/18px 'Ubuntu', sans-serif;
$btn-fs: 14px;
$font: 'Ubuntu', sans-serif;



// Code
// ---------------------------------------------
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h3 {
  font: $font_title;
}

.h4_number {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  padding-right: 5px;
  font-weight: 700;
  
  @media screen and (min-width: 768px) {
    font-size: 30px;
    line-height: 41px;
  }
}

.p_longlat {
  color: #575757;
}

.p {
  font: $font_text_mobile;
  @media screen and (min-width: 768px) {
    font: $font_text;
  }
}
