.o-button {
  position: relative;
  width: 152px;
  height: 50px;
  border-radius: 5px;
  color: $white;
  font-size: $btn-fs;
  font-weight: bold;
  margin-top: 8.25px;
  border: none;
  &::-moz-focus-inner {
    border: 0;
  }
  
  &--green {
    background-color: $green;
  }
  
  &--show {
    &:first-child {
      margin-right: 10px;
    }
  }

  &__arrow {
    position: absolute;
    top: 20px;
    left: 17px;
    &--showMobile {
      display: none;
    }
  }
  
  @media screen and (max-width: 768px) {
    position: absolute;
    bottom: 11%;

    &--navLink {
      display: flex;
      justify-content: center;
    }
    
    &__arrow {
      &--showMobile {
        display: flex;
      }
    }
  }
}