.o-logo__main {
  width: 196px;
  height: 152px;
  
  &--hideMobile {
    visibility: hidden;
  }
  
  @media screen and (min-width: 768px) {
    &--hideMobile {
      visibility: visible;
    }
  }
}

.o-logo__brand {
  width: 68.12px;
  height: 32.79px;
  padding-left: 15.94px; 
}