.c-logo__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  max-width: 100%;
  
  &--hideMobile {
    display: none;
  }
  
  @media screen and (min-width: 768px) {
    margin-top: 257px;
    
    &--hideMobile {
      display: flex;
    }
  }
}

.c-logo__text {
  font: $font_title_mobile;
  @media screen and (min-width: 768px) {
    font: $font_title;
  }
}