.c-h3-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 23px;
  margin-top: 30px;
  max-width: 100%;
  
  @media screen and (min-width: 768px) {
    height: 58.69px;
    width: 608.49px;
    margin-top: 28.25px;
  }
}