.c-formOverview {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  
  &__title {
    font: $font_text_mobile;
        &--showMobile {
          display: flex;
          letter-spacing: unset;
        }
        &--hideMobile {
          display: none;
        }
    
  @media screen and (min-width: 768px) {
    font: $font_text;
      &--showMobile {
        display: none;
      }
      &--hideMobile {
        display: flex;
      }
    }
  }
  
  
  .c-overviewList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 438px;
    border-bottom: 1px solid #E0E0E0;
    max-width: 100%;

    &__records {
      display: flex;
      flex-direction: row;
      width: 75%;
      margin-bottom: 8px;

      @media screen and (min-width: 768px) {
        &--showMobile {
          margin-bottom: 0;
        }
      }
    }

    &__amount {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 25%;
    }

    &__longlat {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 75%;
    }

    &__button {
      display: flex;
    }

    &:nth-child(n) {
      margin-bottom: 30px;
      @media screen and (min-width: 768px) {
        margin-bottom: 10px;
        padding-left: 40px;
      }
    }

    &:last-child {
      margin-bottom: calc(25px - 8.25px);
    }
  }
}


