.c-p-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 19px;
  width: 254px;
  max-width: 100%;
  
  &--overview {
     margin-top: 100px;
  }
  
  
  @media screen and (min-width: 767px) {
    height: 51.65px;
    width: 674.53px;
    margin-top: 0;
   
    &--hideMobile {
      display: flex;
    }
  }
}