.c-brand-wrap {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0px;
  bottom: 0px;
  height: 100px;
  width: 100px;
  padding-left: 15.94px;
  
  &--hideMobile {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  
  @media screen and (max-width: 768px) {
    height: 60px;
    width: 60px;
  }
}
