.c-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%
}

.c-formMail {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &__input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.c-input {
  border-bottom: 2px solid $green;  
  font: $font_text_mobile;
  padding-bottom: 2px;
  margin-bottom: 20px;
  max-width: 60%;
  margin-top: 14px;
  
  &--lineHeightMobile {
    line-height: 24px;
  }
  
  @media screen and (min-width: 768px) {
    max-width: 100%;
    font: $font_text; 
    padding-bottom: 12px;
    margin-top: unset;
    
    &--lineHeightMobile {
      line-height: 31px; 
    }
  }
}

.c-form__image {
  display: flex; 
}

.c-emailError {
  color: red;
  font-weight: bold;
  @media screen and (max-width: 768px) {
    margin-top: 50px;
  }
}