.c-p-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 19px;
  width: 254px;
  margin-top: 14px;
  max-width: 100%;
  
  @media screen and (min-width: 768px) {
    height: 51.65px;
    width: 674.53px;
  }
}