@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.h3 {
  font: normal bold 31px/36px "Ubuntu", sans-serif; }

.h4_number {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  padding-right: 5px;
  font-weight: 700; }
  @media screen and (min-width: 768px) {
    .h4_number {
      font-size: 30px;
      line-height: 41px; } }

.p_longlat {
  color: #575757; }

.p {
  font: normal normal 16px/18px "Ubuntu", sans-serif; }
  @media screen and (min-width: 768px) {
    .p {
      font: normal normal 27px/31px "Ubuntu", sans-serif; } }

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
blockquote {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  color: #35343D;
  opacity: 1;
  letter-spacing: 0.2px;
  font-size: 16px; }

input,
textarea,
button {
  border: 0;
  border-radius: 0;
  outline: none;
  appearance: none; }
  input:hover, input:active, input:focus,
  textarea:hover,
  textarea:active,
  textarea:focus,
  button:hover,
  button:active,
  button:focus {
    outline: none; }

ul {
  list-style-type: none;
  max-width: 100%;
  padding-left: 17px;
  padding-right: 17px;
  margin-top: 21px;
  max-height: 50%;
  overflow-y: scroll; }
  @media screen and (min-width: 768px) {
    ul {
      padding-left: unset;
      padding-right: unset;
      overflow-y: auto;
      max-height: 62%; } }

html {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

*,
*:before,
*:after {
  box-sizing: inherit; }

embed,
iframe,
img,
object,
video {
  max-width: 100%; }

.l-app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center; }

.l-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.o-button {
  position: relative;
  width: 152px;
  height: 50px;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  margin-top: 8.25px;
  border: none; }
  .o-button::-moz-focus-inner {
    border: 0; }
  .o-button--green {
    background-color: #37B34A; }
  .o-button--show:first-child {
    margin-right: 10px; }
  .o-button__arrow {
    position: absolute;
    top: 20px;
    left: 17px; }
    .o-button__arrow--showMobile {
      display: none; }
  @media screen and (max-width: 768px) {
    .o-button {
      position: absolute;
      bottom: 11%; }
      .o-button--navLink {
        display: flex;
        justify-content: center; }
      .o-button__arrow--showMobile {
        display: flex; } }

.o-logo__main {
  width: 196px;
  height: 152px; }
  .o-logo__main--hideMobile {
    visibility: hidden; }
  @media screen and (min-width: 768px) {
    .o-logo__main--hideMobile {
      visibility: visible; } }

.o-logo__brand {
  width: 68.12px;
  height: 32.79px;
  padding-left: 15.94px; }

.c-logo__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  max-width: 100%; }
  .c-logo__main--hideMobile {
    display: none; }
  @media screen and (min-width: 768px) {
    .c-logo__main {
      margin-top: 257px; }
      .c-logo__main--hideMobile {
        display: flex; } }

.c-logo__text {
  font: normal bold 20px/23px "Ubuntu", sans-serif; }
  @media screen and (min-width: 768px) {
    .c-logo__text {
      font: normal bold 31px/36px "Ubuntu", sans-serif; } }

.c-h3-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 23px;
  margin-top: 30px;
  max-width: 100%; }
  @media screen and (min-width: 768px) {
    .c-h3-wrap {
      height: 58.69px;
      width: 608.49px;
      margin-top: 28.25px; } }

.c-brand-wrap {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0px;
  bottom: 0px;
  height: 100px;
  width: 100px;
  padding-left: 15.94px; }
  @media screen and (max-width: 768px) {
    .c-brand-wrap--hideMobile {
      display: none; } }
  @media screen and (max-width: 768px) {
    .c-brand-wrap {
      height: 60px;
      width: 60px; } }

.c-p-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 19px;
  width: 254px;
  margin-top: 14px;
  max-width: 100%; }
  @media screen and (min-width: 768px) {
    .c-p-wrap {
      height: 51.65px;
      width: 674.53px; } }

.c-p-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 19px;
  width: 254px;
  margin-top: 14px;
  max-width: 100%; }
  @media screen and (min-width: 768px) {
    .c-p-wrap {
      height: 51.65px;
      width: 674.53px; } }

.c-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%; }

.c-formMail {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .c-formMail__input {
    display: flex;
    flex-direction: column;
    align-items: center; }

.c-input {
  border-bottom: 2px solid #37B34A;
  font: normal normal 16px/18px "Ubuntu", sans-serif;
  padding-bottom: 2px;
  margin-bottom: 20px;
  max-width: 60%;
  margin-top: 14px; }
  .c-input--lineHeightMobile {
    line-height: 24px; }
  @media screen and (min-width: 768px) {
    .c-input {
      max-width: 100%;
      font: normal normal 27px/31px "Ubuntu", sans-serif;
      padding-bottom: 12px;
      margin-top: unset; }
      .c-input--lineHeightMobile {
        line-height: 31px; } }

.c-form__image {
  display: flex; }

.c-emailError {
  color: red;
  font-weight: bold; }
  @media screen and (max-width: 768px) {
    .c-emailError {
      margin-top: 50px; } }

.c-p-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 19px;
  width: 254px;
  max-width: 100%; }
  .c-p-wrap--overview {
    margin-top: 100px; }
  @media screen and (min-width: 767px) {
    .c-p-wrap {
      height: 51.65px;
      width: 674.53px;
      margin-top: 0; }
      .c-p-wrap--hideMobile {
        display: flex; } }

.c-formOverview {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%; }
  .c-formOverview__title {
    font: normal normal 16px/18px "Ubuntu", sans-serif; }
    .c-formOverview__title--showMobile {
      display: flex;
      letter-spacing: unset; }
    .c-formOverview__title--hideMobile {
      display: none; }
    @media screen and (min-width: 768px) {
      .c-formOverview__title {
        font: normal normal 27px/31px "Ubuntu", sans-serif; }
        .c-formOverview__title--showMobile {
          display: none; }
        .c-formOverview__title--hideMobile {
          display: flex; } }
  .c-formOverview .c-overviewList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 438px;
    border-bottom: 1px solid #E0E0E0;
    max-width: 100%; }
    .c-formOverview .c-overviewList__records {
      display: flex;
      flex-direction: row;
      width: 75%;
      margin-bottom: 8px; }
      @media screen and (min-width: 768px) {
        .c-formOverview .c-overviewList__records--showMobile {
          margin-bottom: 0; } }
    .c-formOverview .c-overviewList__amount {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 25%; }
    .c-formOverview .c-overviewList__longlat {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 75%; }
    .c-formOverview .c-overviewList__button {
      display: flex; }
    .c-formOverview .c-overviewList:nth-child(n) {
      margin-bottom: 30px; }
      @media screen and (min-width: 768px) {
        .c-formOverview .c-overviewList:nth-child(n) {
          margin-bottom: 10px;
          padding-left: 40px; } }
    .c-formOverview .c-overviewList:last-child {
      margin-bottom: calc(25px - 8.25px); }

.c-marker {
  background-image: url("./images/marker.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 7px;
  width: 7px; }
  .c-marker:hover {
    cursor: pointer; }
  @media screen and (min-width: 768px) {
    .c-marker {
      height: 33.9px;
      width: 39.7px; } }

.c-markerPoint {
  background-image: url("./images/point.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 17px;
  width: 16px; }
  .c-markerPoint:hover {
    cursor: pointer; }

#popup {
  display: none;
  background: #FFFFFF;
  width: 100px;
  height: 100px;
  border: 1px solid #35343D;
  border-radius: 4px;
  padding: 10px;
  margin-top: -50px;
  margin-left: -38px; }

.popupM2 {
  display: none;
  background: #FFFFFF;
  width: 100px;
  height: 100px;
  border: 1px solid #35343D;
  border-radius: 4px;
  padding: 10px; }

.mapboxgl-map {
  width: 300px;
  height: 300px; }
  @media screen and (min-width: 768px) {
    .mapboxgl-map {
      width: 1200px;
      max-width: 100%;
      height: 638px;
      border-radius: 10px; } }

.c-m2Form {
  width: 1200px;
  max-width: 100%;
  height: 148px;
  display: flex;
  flex-direction: column; }
  .c-m2Form__title {
    display: flex;
    align-items: center; }
  .c-m2Form__info {
    display: flex;
    align-items: center;
    max-height: 32px;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .c-m2Form__info {
        max-height: 81px; } }
    .c-m2Form__info--ul {
      list-style-type: none;
      max-width: 100%;
      padding-left: 17px;
      padding-right: 17px;
      overflow-y: auto;
      margin: 0; }
      @media screen and (min-width: 768px) {
        .c-m2Form__info--ul {
          margin-top: 21px;
          max-height: 103%;
          width: 12%; } }

.c-title__text {
  font: normal normal 16px/18px "Ubuntu", sans-serif;
  display: none; }
  .c-title__text--showMobile {
    max-width: 165px; }
  @media screen and (min-width: 768px) {
    .c-title__text {
      display: flex;
      font: normal normal 27px/31px "Ubuntu", sans-serif;
      font-weight: bold; }
      .c-title__text--showMobile {
        display: none; } }

.c-mapList {
  color: #828282;
  font: "Ubuntu", sans-serif;
  font-size: 17px; }

.c-m2Form__titleWrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 41px;
  margin-top: 19px;
  margin-left: 26px; }
  @media screen and (min-width: 768px) {
    .c-m2Form__titleWrap {
      height: 39px;
      margin-top: 31px;
      margin-left: 65px; } }

.c-m2Form__infoWrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 32px;
  margin-left: 26px; }
  @media screen and (min-width: 768px) {
    .c-m2Form__infoWrap {
      height: 81px;
      margin-left: 65px; } }

.c-button_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; }
