.c-m2Form {
  width: 1200px;
  max-width: 100%;
  height: 148px;
  display: flex;
  flex-direction: column;
  &__title {
    display: flex;
    align-items: center;
  }
  
  &__info {
    display: flex;
    align-items: center;
    max-height: 32px;
    width: 100%;
    
    @media screen and (min-width: 768px) {
      max-height: 81px;
    }
    
    &--ul {
      list-style-type: none;
      max-width: 100%;
      padding-left: 17px;
      padding-right: 17px;
      overflow-y: auto;
      margin: 0;
      
      @media screen and (min-width: 768px) {
        margin-top: 21px;
        max-height: 103%;
        width: 12%;
      }
    }
  }
}

.c-title {
  &__text {
    font: $font_text-mobile;
    display: none;
    &--showMobile {
      max-width: 165px;
    }
    
    @media screen and (min-width: 768px) {
      display: flex;
      font: $font_text;
      font-weight: bold;
      &--showMobile {
        display: none;
      }
    }
  }
}

.c-mapList {
  color: $coords-grey;
  font: $font;
  font-size: 17px;
}