.c-m2Form {
  &__titleWrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 41px;
    margin-top: 19px;
    margin-left: 26px;
    
    @media screen and (min-width: 768px) {
      height: 39px;
      margin-top: 31px;
      margin-left: 65px;
    }
  }
  
  &__infoWrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 32px;
    margin-left: 26px;
    
    @media screen and (min-width: 768px) {
      height: 81px;
      margin-left: 65px; 
    }
  }
}

.c-button_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

