.c-marker {
  background-image: url('./images/marker.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 7px;
  width: 7px;
  &:hover {
    cursor: pointer;
  }
  
  @media screen and (min-width: 768px) {
    height: 33.9px;
    width: 39.7px;
  }
}

.c-markerPoint {
  background-image: url('./images/point.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 17px;
  width: 16px;
  &:hover {
    cursor: pointer;
  }
}

#popup {
  display: none;
  background: $white;
  width: 100px;
  height: 100px;
  border: 1px solid $black;
  border-radius: 4px;
  padding: 10px;
  margin-top: -50px;
  margin-left: -38px;
}

.popupM2 {
  display: none;
  background: $white;
  width: 100px;
  height: 100px;
  border: 1px solid $black;
  border-radius: 4px;
  padding: 10px;
}

.mapboxgl-map {
  width: 300px ;
  height: 300px;
  
  @media screen and (min-width: 768px) {
    width: 1200px;
    max-width: 100%;
    height: 638px;
    border-radius: 10px;
  }
}