// Resets margins and paddings for headers, ul, ol and p
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
blockquote {
  margin: 0;
  padding: 0;
  font-family: $font;
  font-weight: 400;
  color: $black;
  opacity: 1;
  letter-spacing: 0.2px;
  font-size: 16px;
}

// Completely resets form items
// ----------------------------
// Super hard reset that removes all borders
// and radius of all form items.
// ============================
input,
textarea,
button {
  border: 0;
  border-radius: 0;
  outline: none;
  appearance: none;

  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}

ul {
  list-style-type: none;
  max-width: 100%;
  padding-left: 17px;
  padding-right: 17px;
  margin-top: 21px;
  max-height: 50%;
  overflow-y: scroll;
  
  @media screen and (min-width: 768px) {
    padding-left: unset;
    padding-right: unset;
    overflow-y: auto;
    max-height: 62%;
  }
}


// Use border-box for everything
html {
  box-sizing: border-box;
}

// standard padding & margin 0 for body 
body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// Set Image and Objects to have a max-width of 100%
embed,
iframe,
img,
object,
video {
  max-width: 100%;
}